<div class="component">
  <div class="bubbles">
    <span class="chip mid-small right-20 top-20">Users</span>
    <span class="chip mid-small right-20 top-20">Shops</span>
    <span class="chip mid-small right-20 top-20">Orders</span>
    <span class="chip mid-small right-20 top-20">Authentication</span>
    <span class="chip mid-small right-20 top-20">Configuration</span>
  </div>
</div>

<style type="text/css">
  .bubbles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 20px 15% 0;
  }
  .chip{
    padding: 6px 36px;
    border-radius: 20px;
    border-color: var(--grey);
    width: inherit;
    color: black;
  }
</style>
