<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="title">
              <h4>Profile</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<%= dashboard_path %>">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 mb-20">
          <div class="card-box overflow-hidden">
            <div class="profile-setting">
              <form class="col-md-12 pd-20">
                <div class="form-group">
                  <label>Full Name</label>
                  <input class="form-control form-control-lg" type="text" value="<%= Employee.current.name %>">
                </div>
                <div class="form-group">
                  <label>Email Address</label>
                  <input class="form-control form-control-lg" type="email" value="<%= Employee.current.email %>" disabled>
                </div>
                <div class="form-group">
                  <label>Mobile Number</label>
                  <input class="form-control form-control-lg" type="text" value="+91 <%= Employee.current.mobile %>" disabled>
                </div>
                <div class="form-group">
                  <label>Role</label>
                  <select class="selectpicker form-control form-control-lg" data-style="btn-outline-secondary btn-lg" disabled>
                    <option selected>Admin</option>
                    <option>Manager</option>
                    <option>Delivery</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>2FA Enabled</label><br>
                  <input type="checkbox" class="switch-btn" data-color="#28a745" data-secondary-color="#f56767">
                </div>
                <div class="form-group mb-0">
                  <input type="submit" class="btn btn-primary" value="Update Profile">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 mb-20">
        <div class="card-box overflow-hidden">
          <div class="profile-setting">
            <form class="col-md-12 pd-20">
              <div class="form-group">
                <label>Current Password</label>
                <input class="form-control form-control-lg" type="password">
              </div>
              <div class="form-group">
                <label>New Password</label>
                <input class="form-control form-control-lg" type="password">
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input class="form-control form-control-lg" type="password">
              </div>
              <div class="form-group mb-0">
                <input type="submit" class="btn btn-primary" value="Change Password">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $('.selectpicker').selectpicker();
</script>
